<div id="header-component">
  <!--/ Nav Star /-->
  <nav
    class="navbar navbar-b navbar-trans navbar-expand-md fixed-top"
    id="mainNav"
  >
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Sylvain Janet</a>
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarDefault"
        aria-controls="navbarDefault"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div
        class="navbar-collapse collapse justify-content-end"
        id="navbarDefault"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">{{
              getContent()
            }}</a>
          </li>
          <li
            class="nav-item dropdown"
            *ngFor="let item of menu.items"
            ngbDropdown
            #myDrop="ngbDropdown"
          >
            <span *ngIf="item.subItems.length > 0; else normalbutton">
              <div
                style="height: fit-content"
                (mouseenter)="enterMenu(item)"
                (mouseleave)="exitMenu(item)"
              >
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ getTitle(item) }}
                </a>
                <div
                  class="dropdown-menu"
                  style="
                    margin: 0 0 0;
                    padding: 1.12em;
                    background-color: transparent;
                  "
                  [ngClass]="{ show: isShown(item) }"
                  aria-labelledby="navbarDropdown"
                  (mouseenter)="enterItems(item)"
                  (mouseleave)="exitItems(item)"
                >
                  <div class="nav-item" *ngFor="let nbr of item.subItems">
                    <span
                      *ngIf="
                        getActualMainMenuItem(nbr).subItems.length > 0;
                        else normalbutton2
                      "
                      ><div
                        style="height: fit-content"
                        (mouseenter)="enterMenu(getActualMainMenuItem(nbr))"
                        (mouseleave)="exitMenu(getActualMainMenuItem(nbr))"
                      >
                        <a
                          class="nav-link dropdown-toggle"
                          href="#"
                          id="navbarDropdown"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false"
                        >
                          {{ getTitleById(nbr) }}
                        </a>
                        <div
                          class="dropdown-menu"
                          style="
                            margin: 0 0 0;
                            padding: 1.12em;
                            background-color: transparent;
                          "
                          [ngClass]="{
                            show: isShown(getActualMainMenuItem(nbr))
                          }"
                          aria-labelledby="navbarDropdown"
                          (mouseenter)="enterItems(getActualMainMenuItem(nbr))"
                          (mouseleave)="exitItems(getActualMainMenuItem(nbr))"
                        >
                          <div
                            class="nav-item"
                            *ngFor="let myvar of subItems(nbr)"
                          >
                            <button
                              class="nav-link js-scroll"
                              style="
                                text-decoration: none;
                                color: white;
                                background-color: transparent;
                                border: none;
                              "
                              (click)="categoryClick(myvar)"
                            >
                              {{ getTitleById(myvar) }}
                            </button>
                          </div>
                        </div>
                      </div>
                    </span>
                    <ng-template #normalbutton2>
                      <button
                        class="nav-link js-scroll"
                        style="
                          text-decoration: none;
                          color: white;
                          background-color: transparent;
                          border: none;
                        "
                        (click)="categoryClick(nbr)"
                      >
                        {{ getTitleById(nbr) }}
                      </button>
                    </ng-template>
                  </div>
                </div>
              </div>
            </span>
            <ng-template #normalbutton>
              <button
                class="nav-link js-scroll"
                style="
                  text-decoration: none;
                  color: white;
                  background-color: transparent;
                  border: none;
                "
                (click)="categoryClick(item)"
              >
                {{ getTitle(item) }}
              </button>
            </ng-template>
          </li>

          <li class="nav-item dropdown">
            <div
              style="height: fit-content"
              (mouseenter)="enterLanguageMenu()"
              (mouseleave)="exitLanguageMenu()"
            >
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Language
              </a>

              <div
                class="dropdown-menu"
                style="
                  margin: 0 0 0;
                  padding: 1.12em;
                  background-color: transparent;
                "
                [ngClass]="{ show: isLanguageShown() }"
                aria-labelledby="navbarDropdown"
                (mouseenter)="enterLanguageItems()"
                (mouseleave)="exitLanguageItems()"
              >
                <div class="nav-item" *ngFor="let language of otherLanguages">
                  <button
                    class="nav-link js-scroll"
                    style="
                      text-decoration: none;
                      color: white;
                      background-color: transparent;
                      border: none;
                    "
                    (click)="changeLanguage(language)"
                  >
                    {{ language }}
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->
</div>
